# Missing Values Analysis and Imputation
 
For this we will use the Pima indians diabetes dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
movies = pd.read_csv("../../Data/Movies_v1.csv")
movies.head()

,movie_id,original_title,revenue,budget,popularity,actors_cnt,original_language,language_en,language_fr,language_es,...,actor2_movies_5y,actor2_gender,all_directors_avg_revenue,all_directors_avg_blockbusters,all_directors_avg_revenue_5y,all_directors_avg_blockbusters_5y,all_producers_avg_revenue,all_producers_avg_blockbusters,all_producers_avg_revenue_5y,all_producers_avg_blockbusters_5y
0,1,Hot Tub Time Machine 2,12314651.0,14000000,6.575393,24,en,1,0,0,...,2.0,2.0,33274115.0,0.0,30658668.0,0.0,101192633.0,1.0,12314651.0,0.0
1,2,The Princess Diaries 2: Royal Engagement,95149435.0,40000000,8.248895,20,en,1,0,0,...,2.0,2.0,113707282.0,3.0,48418160.0,0.0,118162119.0,2.0,NaN,0.0
2,3,Whiplash,13092000.0,3300000,64.299990,51,en,1,0,0,...,2.0,1.0,13092000.0,0.0,13092000.0,0.0,43944921.8,2.0,31450731.5,1.0
3,4,Kahaani,16000000.0,1200000,3.174936,7,hi,0,0,0,...,0.0,0.0,16000000.0,0.0,NaN,0.0,16000000.0,0.0,NaN,0.0
4,5,????,3923970.0,0,1.148070,4,ko,0,0,0,...,0.0,2.0,3923970.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN

In [3]:
# Filter the movies with unknown revenue ???
movies = movies[movies.revenue > 0]

In [4]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 86 columns):
movie_id                             3000 non-null int64
original_title                       3000 non-null object
revenue                              3000 non-null float64
budget                               3000 non-null int64
popularity                           3000 non-null float64
actors_cnt                           3000 non-null int64
original_language                    3000 non-null object
language_en                          3000 non-null int64
language_fr                          3000 non-null int64
language_es                          3000 non-null int64
language_de                          3000 non-null int64
language_ru                          3000 non-null int64
language_it                          3000 non-null int64
language_ja                          3000 non-null int64
release_date                         3000 non-null object
release_year                         3000 non-null float64
release_month                        3000 non-null float64
release_week                         3000 non-null float64
release_weekday                      3000 non-null float64
runtime                              2998 non-null float64
runtime_intervals                    2998 non-null float64
runtime_cat                          3000 non-null object
is_collection                        3000 non-null int64
keywords_cnt                         3000 non-null int64
crew_total_cnt                       2984 non-null float64
crew_writing_cnt                     2984 non-null float64
crew_directing_cnt                   2984 non-null float64
crew_art_cnt                         2984 non-null float64
crew_sound_cnt                       2984 non-null float64
crew_costume_makeup_cnt              2984 non-null float64
crew_visual_effects_cnt              2984 non-null float64
crew_production_cnt                  2984 non-null float64
crew_actors_cnt                      2984 non-null float64
crew_camera_cnt                      2984 non-null float64
crew_lighting_cnt                    2984 non-null float64
crew_editing_cnt                     2984 non-null float64
sw_genre_action                      2993 non-null float64
sw_genre_adventure                   2993 non-null float64
sw_genre_animation                   2993 non-null float64
sw_genre_comedy                      2993 non-null float64
sw_genre_crime                       2993 non-null float64
sw_genre_documentary                 2993 non-null float64
sw_genre_drama                       2993 non-null float64
sw_genre_family                      2993 non-null float64
sw_genre_fantasy                     2993 non-null float64
sw_genre_foreign                     2993 non-null float64
sw_genre_history                     2993 non-null float64
sw_genre_horror                      2993 non-null float64
sw_genre_music                       2993 non-null float64
sw_genre_mystery                     2993 non-null float64
sw_genre_romance                     2993 non-null float64
sw_genre_science_fiction             2993 non-null float64
sw_genre_thriller                    2993 non-null float64
sw_genre_tv_movie                    2993 non-null float64
sw_genre_war                         2993 non-null float64
sw_genre_western                     2993 non-null float64
genres_total                         2993 non-null float64
actor0_avg_revenue                   2851 non-null float64
actor0_avg_revenue_5y                1682 non-null float64
actor0_blockbusters                  2851 non-null float64
actor0_blockbusters_5y               2851 non-null float64
actor0_movies                        2851 non-null float64
actor0_movies_5y                     2851 non-null float64
actor0_gender                        2851 non-null float64
actor1_avg_revenue                   2930 non-null float64
actor1_avg_revenue_5y                1522 non-null float64
actor1_blockbusters                  2930 non-null float64
actor1_blockbusters_5y               2930 non-null float64
actor1_movies                        2930 non-null float64
actor1_movies_5y                     2930 non-null float64
actor1_gender                        2930 non-null float64
actor2_avg_revenue                   2926 non-null float64
actor2_avg_revenue_5y                1424 non-null float64
actor2_blockbusters                  2926 non-null float64
actor2_blockbusters_5y               2926 non-null float64
actor2_movies                        2926 non-null float64
actor2_movies_5y                     2926 non-null float64
actor2_gender                        2926 non-null float64
all_directors_avg_revenue            2984 non-null float64
all_directors_avg_blockbusters       2984 non-null float64
all_directors_avg_revenue_5y         929 non-null float64
all_directors_avg_blockbusters_5y    2984 non-null float64
all_producers_avg_revenue            2373 non-null float64
all_producers_avg_blockbusters       2373 non-null float64
all_producers_avg_revenue_5y         1120 non-null float64
all_producers_avg_blockbusters_5y    2373 non-null float64
dtypes: float64(70), int64(12), object(4)
memory usage: 2.0+ MB

In [5]:
movies.original_language = pd.Categorical(movies.original_language)
movies.language_en = pd.Categorical(movies.language_en)
movies.language_fr = pd.Categorical(movies.language_fr)
movies.language_es = pd.Categorical(movies.language_es)
movies.language_de = pd.Categorical(movies.language_de)
movies.language_ru = pd.Categorical(movies.language_ru)
movies.language_it = pd.Categorical(movies.language_it)
movies.language_ja = pd.Categorical(movies.language_ja)
movies.runtime_intervals = pd.Categorical(movies.runtime_intervals)
movies.runtime_cat = pd.Categorical(movies.runtime_cat)
movies.is_collection = pd.Categorical(movies.is_collection)
movies.sw_genre_action = pd.Categorical(movies.sw_genre_action)
movies.sw_genre_adventure = pd.Categorical(movies.sw_genre_adventure)
movies.sw_genre_animation = pd.Categorical(movies.sw_genre_animation)
movies.sw_genre_comedy = pd.Categorical(movies.sw_genre_comedy)
movies.sw_genre_crime = pd.Categorical(movies.sw_genre_crime)
movies.sw_genre_documentary = pd.Categorical(movies.sw_genre_documentary)
movies.sw_genre_drama = pd.Categorical(movies.sw_genre_drama)
movies.sw_genre_family = pd.Categorical(movies.sw_genre_family)
movies.sw_genre_fantasy = pd.Categorical(movies.sw_genre_fantasy)
movies.sw_genre_foreign = pd.Categorical(movies.sw_genre_foreign)
movies.sw_genre_history = pd.Categorical(movies.sw_genre_history)
movies.sw_genre_horror = pd.Categorical(movies.sw_genre_horror)
movies.sw_genre_music = pd.Categorical(movies.sw_genre_music)
movies.sw_genre_mystery = pd.Categorical(movies.sw_genre_mystery)
movies.sw_genre_romance = pd.Categorical(movies.sw_genre_romance)
movies.sw_genre_science_fiction = pd.Categorical(movies.sw_genre_science_fiction)
movies.sw_genre_thriller = pd.Categorical(movies.sw_genre_thriller)
movies.sw_genre_tv_movie = pd.Categorical(movies.sw_genre_tv_movie)
movies.sw_genre_war = pd.Categorical(movies.sw_genre_war)
movies.sw_genre_western = pd.Categorical(movies.sw_genre_western)
movies.actor0_gender = pd.Categorical(movies.actor0_gender)
movies.actor1_gender = pd.Categorical(movies.actor1_gender)
movies.actor2_gender = pd.Categorical(movies.actor2_gender)

movies.release_year = movies.release_year.astype(int)
movies.release_month = movies.release_month.astype(int)
movies.release_week = movies.release_week.astype(int)
movies.release_weekday = movies.release_weekday.astype(int)
#movies.runtime = movies.runtime.astype(int)
movies.crew_total_cnt = movies.crew_total_cnt.astype(int)
movies.crew_actors_cnt = movies.crew_actors_cnt.astype(int)
movies.crew_art_cnt = movies.crew_art_cnt.astype(int)
movies.crew_camera_cnt = movies.crew_camera_cnt.astype(int)
movies.crew_costume_makeup_cnt = movies.crew_costume_makeup_cnt.astype(int)
movies.crew_directing_cnt = movies.crew_directing_cnt.astype(int)
movies.crew_editing_cnt = movies.crew_editing_cnt.astype(int)
movies.crew_lighting_cnt = movies.crew_lighting_cnt.astype(int)
movies.crew_production_cnt = movies.crew_production_cnt.astype(int)
movies.crew_sound_cnt = movies.crew_sound_cnt.astype(int)
movies.crew_visual_effects_cnt = movies.crew_visual_effects_cnt.astype(int)
movies.crew_writing_cnt = movies.crew_writing_cnt.astype(int)
movies.genres_total = movies.genres_total.astype(int)
movies.actor0_movies = movies.actor0_movies.astype(int)
movies.actor0_movies_5y = movies.actor0_movies_5y.astype(int)
movies.actor0_blockbusters = movies.actor0_blockbusters.astype(int)
movies.actor0_blockbusters_5y = movies.actor0_blockbusters_5y.astype(int)
movies.actor1_movies = movies.actor1_movies.astype(int)
movies.actor1_movies_5y = movies.actor1_movies_5y.astype(int)
movies.actor1_blockbusters = movies.actor1_blockbusters.astype(int)
movies.actor1_blockbusters_5y = movies.actor1_blockbusters_5y.astype(int)
movies.actor2_movies = movies.actor2_movies.astype(int)
movies.actor2_movies_5y = movies.actor2_movies_5y.astype(int)
movies.actor2_blockbusters = movies.actor2_blockbusters.astype(int)
movies.actor2_blockbusters_5y = movies.actor2_blockbusters_5y.astype(int)
movies.all_directors_avg_blockbusters = movies.all_directors_avg_blockbusters.astype(int)
movies.all_directors_avg_blockbusters_5y = movies.all_directors_avg_blockbusters_5y.astype(int)
movies.all_producers_avg_blockbusters= movies.all_producers_avg_blockbusters.astype(int)
movies.all_producers_avg_blockbusters_5y = movies.all_producers_avg_blockbusters_5y.astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [27]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3000 entries, 0 to 2999
Data columns (total 86 columns):
movie_id                             3000 non-null int64
original_title                       3000 non-null object
revenue                              3000 non-null float64
budget                               3000 non-null int64
popularity                           3000 non-null float64
actors_cnt                           3000 non-null int64
original_language                    3000 non-null category
language_en                          3000 non-null category
language_fr                          3000 non-null category
language_es                          3000 non-null category
language_de                          3000 non-null category
language_ru                          3000 non-null category
language_it                          3000 non-null category
language_ja                          3000 non-null category
release_date                         3000 non-null object
release_year                         3000 non-null int32
release_month                        3000 non-null int32
release_week                         3000 non-null int32
release_weekday                      3000 non-null int32
runtime                              2998 non-null float64
runtime_intervals                    2998 non-null category
runtime_cat                          3000 non-null category
is_collection                        3000 non-null category
keywords_cnt                         3000 non-null int64
crew_total_cnt                       2984 non-null float64
crew_writing_cnt                     2984 non-null float64
crew_directing_cnt                   2984 non-null float64
crew_art_cnt                         2984 non-null float64
crew_sound_cnt                       2984 non-null float64
crew_costume_makeup_cnt              2984 non-null float64
crew_visual_effects_cnt              2984 non-null float64
crew_production_cnt                  2984 non-null float64
crew_actors_cnt                      2984 non-null float64
crew_camera_cnt                      2984 non-null float64
crew_lighting_cnt                    2984 non-null float64
crew_editing_cnt                     2984 non-null float64
sw_genre_action                      2993 non-null category
sw_genre_adventure                   2993 non-null category
sw_genre_animation                   2993 non-null category
sw_genre_comedy                      2993 non-null category
sw_genre_crime                       2993 non-null category
sw_genre_documentary                 2993 non-null category
sw_genre_drama                       2993 non-null category
sw_genre_family                      2993 non-null category
sw_genre_fantasy                     2993 non-null category
sw_genre_foreign                     2993 non-null category
sw_genre_history                     2993 non-null category
sw_genre_horror                      2993 non-null category
sw_genre_music                       2993 non-null category
sw_genre_mystery                     2993 non-null category
sw_genre_romance                     2993 non-null category
sw_genre_science_fiction             2993 non-null category
sw_genre_thriller                    2993 non-null category
sw_genre_tv_movie                    2993 non-null category
sw_genre_war                         2993 non-null category
sw_genre_western                     2993 non-null category
genres_total                         2993 non-null float64
actor0_avg_revenue                   2851 non-null float64
actor0_avg_revenue_5y                1682 non-null float64
actor0_blockbusters                  2851 non-null float64
actor0_blockbusters_5y               2851 non-null float64
actor0_movies                        2851 non-null float64
actor0_movies_5y                     2851 non-null float64
actor0_gender                        2851 non-null category
actor1_avg_revenue                   2930 non-null float64
actor1_avg_revenue_5y                1522 non-null float64
actor1_blockbusters                  2930 non-null float64
actor1_blockbusters_5y               2930 non-null float64
actor1_movies                        2930 non-null float64
actor1_movies_5y                     2930 non-null float64
actor1_gender                        2930 non-null category
actor2_avg_revenue                   2926 non-null float64
actor2_avg_revenue_5y                1424 non-null float64
actor2_blockbusters                  2926 non-null float64
actor2_blockbusters_5y               2926 non-null float64
actor2_movies                        2926 non-null float64
actor2_movies_5y                     2926 non-null float64
actor2_gender                        2926 non-null category
all_directors_avg_revenue            2984 non-null float64
all_directors_avg_blockbusters       2984 non-null float64
all_directors_avg_revenue_5y         929 non-null float64
all_directors_avg_blockbusters_5y    2984 non-null float64
all_producers_avg_revenue            2373 non-null float64
all_producers_avg_blockbusters       2373 non-null float64
all_producers_avg_revenue_5y         1120 non-null float64
all_producers_avg_blockbusters_5y    2373 non-null float64
dtypes: category(34), float64(42), int32(4), int64(4), object(2)
memory usage: 1.3+ MB

In [10]:
print(movies.isnull().sum())

movie_id                                0
original_title                          0
revenue                                 0
budget                                  0
popularity                              0
actors_cnt                              0
original_language                       0
language_en                             0
language_fr                             0
language_es                             0
language_de                             0
language_ru                             0
language_it                             0
language_ja                             0
release_date                            0
release_year                            0
release_month                           0
release_week                            0
release_weekday                         0
runtime                                 2
runtime_intervals                       2
runtime_cat                             0
is_collection                           0
keywords_cnt                            0
crew_total_cnt                         16
crew_writing_cnt                       16
crew_directing_cnt                     16
crew_art_cnt                           16
crew_sound_cnt                         16
crew_costume_makeup_cnt                16
                                     ...
genres_total                            7
actor0_avg_revenue                    149
actor0_avg_revenue_5y                1318
actor0_blockbusters                   149
actor0_blockbusters_5y                149
actor0_movies                         149
actor0_movies_5y                      149
actor0_gender                         149
actor1_avg_revenue                     70
actor1_avg_revenue_5y                1478
actor1_blockbusters                    70
actor1_blockbusters_5y                 70
actor1_movies                          70
actor1_movies_5y                       70
actor1_gender                          70
actor2_avg_revenue                     74
actor2_avg_revenue_5y                1576
actor2_blockbusters                    74
actor2_blockbusters_5y                 74
actor2_movies                          74
actor2_movies_5y                       74
actor2_gender                          74
all_directors_avg_revenue              16
all_directors_avg_blockbusters         16
all_directors_avg_revenue_5y         2071
all_directors_avg_blockbusters_5y      16
all_producers_avg_revenue             627
all_producers_avg_blockbusters        627
all_producers_avg_revenue_5y         1880
all_producers_avg_blockbusters_5y     627
Length: 86, dtype: int64

In [11]:
movies.describe()

,movie_id,revenue,budget,popularity,actors_cnt,language_en,language_fr,language_es,language_de,language_ru,...,actor2_movies_5y,actor2_gender,all_directors_avg_revenue,all_directors_avg_blockbusters,all_directors_avg_revenue_5y,all_directors_avg_blockbusters_5y,all_producers_avg_revenue,all_producers_avg_blockbusters,all_producers_avg_revenue_5y,all_producers_avg_blockbusters_5y
count,3000.000000,3.000000e+03,3.000000e+03,3000.000000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,...,2926.000000,2926.000000,2.984000e+03,2984.000000,9.290000e+02,2984.000000,2.373000e+03,2373.000000,1.120000e+03,2373.000000
mean,1500.500000,6.672585e+07,2.253133e+07,8.463274,20.603667,0.858333,0.026000,0.014333,0.00600,0.015667,...,1.048189,1.421053,6.568883e+07,0.837466,1.067337e+08,0.141756,8.013363e+07,1.327012,1.372566e+08,0.212389
std,866.169729,1.375323e+08,3.702609e+07,12.104000,16.629635,0.348766,0.159162,0.118881,0.07724,0.124203,...,1.467856,0.700491,1.116238e+08,1.474123,1.885529e+08,0.436761,1.126998e+08,2.277006,1.981440e+08,0.573059
min,1.000000,1.000000e+00,0.000000e+00,0.000001,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,0.000000,1.000000e+00,0.000000,3.000000e+00,0.000000,3.000000e+00,0.000000,1.250000e+02,0.000000
25%,750.750000,2.379808e+06,0.000000e+00,4.018053,11.000000,1.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,1.000000,4.233892e+06,0.000000,1.982505e+06,0.000000,1.056946e+07,0.000000,1.591341e+07,0.000000
50%,1500.500000,1.680707e+07,8.000000e+06,7.374861,16.000000,1.000000,0.000000,0.000000,0.00000,0.000000,...,0.000000,2.000000,2.503072e+07,0.000000,2.925298e+07,0.000000,4.461462e+07,0.000000,6.716827e+07,0.000000
75%,2250.250000,6.891920e+07,2.900000e+07,10.890983,24.000000,1.000000,0.000000,0.000000,0.00000,0.000000,...,2.000000,2.000000,7.862851e+07,1.000000,1.283883e+08,0.000000,1.055965e+08,2.000000,1.616300e+08,0.000000
max,3000.000000,1.519558e+09,3.800000e+08,294.337037,156.000000,1.000000,1.000000,1.000000,1.00000,1.000000,...,10.000000,2.000000,1.462481e+09,10.000000,1.405404e+09,3.000000,1.055295e+09,20.000000,1.117471e+09,4.000000

In [25]:
print(movies.isna().sum())

movie_id                                0
original_title                          0
revenue                                 0
budget                                  0
popularity                              0
actors_cnt                              0
original_language                       0
language_en                             0
language_fr                             0
language_es                             0
language_de                             0
language_ru                             0
language_it                             0
language_ja                             0
release_date                            0
release_year                            0
release_month                           0
release_week                            0
release_weekday                         0
runtime                                 2
runtime_intervals                       2
runtime_cat                             0
is_collection                           0
keywords_cnt                            0
crew_total_cnt                         16
crew_writing_cnt                       16
crew_directing_cnt                     16
crew_art_cnt                           16
crew_sound_cnt                         16
crew_costume_makeup_cnt                16
                                     ...
genres_total                            7
actor0_avg_revenue                    149
actor0_avg_revenue_5y                1318
actor0_blockbusters                   149
actor0_blockbusters_5y                149
actor0_movies                         149
actor0_movies_5y                      149
actor0_gender                         149
actor1_avg_revenue                     70
actor1_avg_revenue_5y                1478
actor1_blockbusters                    70
actor1_blockbusters_5y                 70
actor1_movies                          70
actor1_movies_5y                       70
actor1_gender                          70
actor2_avg_revenue                     74
actor2_avg_revenue_5y                1576
actor2_blockbusters                    74
actor2_blockbusters_5y                 74
actor2_movies                          74
actor2_movies_5y                       74
actor2_gender                          74
all_directors_avg_revenue              16
all_directors_avg_blockbusters         16
all_directors_avg_revenue_5y         2071
all_directors_avg_blockbusters_5y      16
all_producers_avg_revenue             627
all_producers_avg_blockbusters        627
all_producers_avg_revenue_5y         1880
all_producers_avg_blockbusters_5y     627
Length: 86, dtype: int64