# Python Intro - Final Exercise

In [62]:
import pyodbc
import pandas as pd
import numpy as np

In [63]:
### In windows, Using a ODBC DNS (predefined connection name)
##conn = pyodbc.connect('DSN=COLLEGE;Trusted_Connection=yes;')

In [64]:
### Get the students table
##students = pd.read_sql("SELECT * FROM Students;",conn)
students = pd.read_csv("C:/Users/yuryt/Downloads/Students.csv") 

classrooms = pd.read_csv("C:/Users/yuryt/Downloads/Classrooms.csv") 

teachers = pd.read_csv("C:/Users/yuryt/Downloads/Teachers.csv") 

courses = pd.read_csv("C:/Users/yuryt/Downloads/Courses.csv") 

departments = pd.read_csv("C:/Users/yuryt/Downloads/Departments.csv")

# Questions
 
 
## Q1. Count the number of students on each department

In [65]:
#students
students_classrooms = pd.merge(students, classrooms, how='inner', on='StudentId')

In [66]:
students_classrooms_courses = pd.merge(students_classrooms, courses, how='inner', on='CourseId')

In [67]:
students_classrooms_courses_departments = pd.merge(students_classrooms_courses, departments, how='inner', left_on='DepartmentID', right_on='DepartmentId')

In [68]:
department_student_unique = students_classrooms_courses_departments[['DepartmentName','StudentId']].drop_duplicates()
dsu = department_student_unique.groupby('DepartmentName').agg({'StudentId':['count']})
dsu.columns = ['Students']
dsu

                Students
DepartmentName
Arts                 137
English               84
Science              200
Sport                 81

## Q2. How many students have each course of the English department and the total number of students in the department?

In [69]:
### filter students by department==English
eng_studs = students_classrooms_courses_departments.loc[students_classrooms_courses_departments['DepartmentName'] == 'English']
### group by course and count inside the group
stud_course = eng_studs.groupby('CourseName').agg({'StudentId':['count']})
### Rename aggregated column
stud_course.columns = ['Students']
### count the distinct students in department
distinct_studs = eng_studs.StudentId.drop_duplicates().count()
### add total row
stud_course.loc['Total']=distinct_studs
stud_course

                      Students
CourseName
Advanced English            24
English Begginers           32
Proffesional English        38
Total                       84

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

In [70]:
### filter students by department==English
sc_studs = students_classrooms_courses_departments.loc[students_classrooms_courses_departments['DepartmentName'] == 'Science']
classrooms = sc_studs.groupby('CourseName').agg({'StudentId':['count']})
classrooms.columns = ['Students']
classrooms["classroom_size"] = classrooms.apply(lambda row: "Big classrooms" if row.Students >= 22 else "Small classrooms", axis=1)
res = classrooms.groupby('classroom_size').agg({'Students':['count']})
res.columns = ["num_classrooms"]
res

                  num_classrooms
classroom_size
Big classrooms                10
Small classrooms               6

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

In [71]:
studs_gender = students.groupby('Gender').agg({'StudentId':['count']})
studs_gender.columns = ["num_students"]
studs_gender

        num_students
Gender
F                165
M                115

## Q5. For which courses the percentage of male/female students is over 70%?

In [99]:
### group by course and gender, aggregate num of students
courses_gender_aggr = students_classrooms_courses.groupby(['CourseId','CourseName','Gender']).agg({'StudentId':['count']})
### calc percentage of students per course and gender
courses_gender_prc = courses_gender_aggr.groupby(level=0).apply(lambda x: 100 * x / float(x.sum()))
courses_gender_prc.columns = ['studentsPercentage']
### filter > 70%
courses_gender_prc[courses_gender_prc.studentsPercentage > 70]

                            studentsPercentage
CourseId CourseName Gender
22       Sculpture  F                70.833333
29       Tenis      F                72.222222

## Q6. For each department, how many students passed with a grades over 80?

In [101]:
x = students_classrooms_courses_departments.groupby(["DepartmentName"])
x

## Q7. For each department, how many students passed with a grades under 60?

## Q8. Rate the teachers by their average student's grades (in descending order).

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).