# Exercises for part I - Try it at home

## List
 
1. Create a list of numbers from 1 to 10

2. Append to the list the number 20

3. Insert two zeros after the fourth place of the list

4. Sort the list in reverse order

5. Remove the last two items from the list

6. Invert the order of the list

7. How many items has the list?

8. Give the minimum, maximum and the sum of all the items in the list

9. What will happen if you multiply the list by 2?

10. Can you divide the list by 3?

# Tupples
 
1. Create a tupple with three characters and four numbers

2. Append two booleans (false, true) to the tupple

3. Retrieve the third to sixth items from the tupple

4. Divide the tupple by data type and create a list for each, then create a muttable tupple using these lists

# Sets
 
1. Create a set using the following paragraph:
 
<quote>
"Shallow copy is a bit-wise copy of an object. A new object is created that has an exact copy of the values in the original object"
<quote>
 
Note: Each part of the set must be a word, not a character!

2. Do you see something wierd in this set? What? How can you prevent that?

# Dictionary
 
1. Generate a dictionary from the following table:

<table>
    <tr> <th> EmployeeID </th> <th> Name </th> <th> Position </th> <th> Phone </th> </tr>
    <tr> <td> 1020 </td> <td> Harry Smith </td> <td> Sales Manager </td> <td> 030-223.65.44 </td> </tr>
    <tr> <td> 2201 </td><td> Margaret Holsum </td> <td> Sales Representative </td> <td> 030-223.64.12 </td> </tr>
    <tr> <td> 3320 </td><td> Lasly Howard </td> <td> Human Resources </td> <td> 030-223.83.33 </td> </tr>
    <tr> <td> 8111 </td><td> Larry Johnson </td> <td> Project Manager </td> <td> 030-224.22.00 </td> </tr>
    <tr> <td> 2733 </td><td> Hellen Young </td> <td> Customer Service </td> <td> 030-223.03.20 </td> </tr>
</table>

1. Get all the keys of the dictionary

2. Get all the values of the dictionary

3. Show the third row of the table by calling the dictionary using the respective EmployeeID

# Loop programming in python
 
1. Write a script that shows all the primary numbers from 1 to 100. Use for.. loop and if..else

2. Write a different solution to the problem in the last question, but using while.. in place of for..