# Python Intro - Final Exercise

In [1]:
import pyodbc
import pandas as pd
import numpy as np

In [3]:
### In windows, Using a ODBC DNS (predefined connection name)
##conn = pyodbc.connect('DSN=COLLEGE;Trusted_Connection=yes;')

In [17]:
### Get the students table
##students = pd.read_sql("SELECT * FROM Students;",conn)
students = pd.read_csv("C:/Users/yuryt/Downloads/Students.csv") 

classrooms = pd.read_csv("C:/Users/yuryt/Downloads/Classrooms.csv") 

teachers = pd.read_csv("C:/Users/yuryt/Downloads/Teachers.csv") 

courses = pd.read_csv("C:/Users/yuryt/Downloads/Courses.csv") 

departments = pd.read_csv("C:/Users/yuryt/Downloads/Departments.csv")

# Questions
 
 
## Q1. Count the number of students on each department

In [28]:
#students
students_classrooms = pd.merge(students, classrooms, how='inner', on='StudentId')

In [29]:
students_classrooms_courses = pd.merge(students_classrooms, courses, how='inner', on='CourseId')

In [31]:
departments
#students_classrooms_courses_departments = pd.merge(students_classrooms_courses, departments, how='inner', on='DepartmentID')

   DepartmentId DepartmentName
0             1        English
1             2        Science
2             3           Arts
3             4          Sport

In [ ]:
students_classrooms_courses

## Q2. How many students have each course of the English department and the total number of students in the department?

## Q3. How many small (<22 students) and large (22+ students) classrooms are needed for the Science department?

## Q4. A feminist student claims that there are more male than female in the College. Justify if the argument is correct

## Q5. For which courses the percentage of male/female students is over 70%?

## Q6. For each department, how many students passed with a grades over 80?

## Q7. For each department, how many students passed with a grades under 60?

## Q8. Rate the teachers by their average student's grades (in descending order).

## Q9. Create a dataframe showing the courses, departments they are associated with, the teacher in each course, and the number of students enrolled in the course (for each course, department and teacher show the names).

## Q10. Create a dataframe showing the students, the number of courses they take, the average of the grades per class, and their overall average (for each student show the student name).