# EDA in Python

In [1]:
import pandas as pd
import sweetviz as sv

In [2]:
cardio = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00571/hcvdat0.csv")

In [3]:
cardio.head()

,Unnamed: 0,Category,Age,Sex,ALB,ALP,ALT,AST,BIL,CHE,CHOL,CREA,GGT,PROT
0,1,0=Blood Donor,32,m,38.5,52.5,7.7,22.1,7.5,6.93,3.23,106.0,12.1,69.0
1,2,0=Blood Donor,32,m,38.5,70.3,18.0,24.7,3.9,11.17,4.80,74.0,15.6,76.5
2,3,0=Blood Donor,32,m,46.9,74.7,36.2,52.6,6.1,8.84,5.20,86.0,33.2,79.3
3,4,0=Blood Donor,32,m,43.2,52.0,30.6,22.6,18.9,7.33,4.74,80.0,33.8,75.7
4,5,0=Blood Donor,32,m,39.2,74.1,32.6,24.8,9.6,9.15,4.32,76.0,29.9,68.7

In [4]:
cardio.dtypes

Unnamed: 0      int64
Category       object
Age             int64
Sex            object
ALB           float64
ALP           float64
ALT           float64
AST           float64
BIL           float64
CHE           float64
CHOL          float64
CREA          float64
GGT           float64
PROT          float64
dtype: object

In [5]:
cardio.Category = pd.Categorical(cardio.Category)
cardio.Sex = pd.Categorical(cardio.Sex)

In [6]:
cardio.dtypes

Unnamed: 0       int64
Category      category
Age              int64
Sex           category
ALB            float64
ALP            float64
ALT            float64
AST            float64
BIL            float64
CHE            float64
CHOL           float64
CREA           float64
GGT            float64
PROT           float64
dtype: object

In [7]:
cardio.shape

(615, 14)

In [8]:
#analyzing the dataset
advert_report = sv.analyze(cardio)
#display the report
advert_report.show_html('cardio.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!
Report cardio.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

# Adult dataset

In [54]:
names = ['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race',
'sex','capital-gain','capital-loss','hours-per-week','native-country','Class']

In [56]:
adult  = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",header=None,names=names)

names

>50K, <=50K.

age: continuous.
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
fnlwgt: continuous.
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
education-num: continuous.
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
sex: Female, Male.
capital-gain: continuous.
capital-loss: continuous.
hours-per-week: continuous.
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.

In [57]:
adult.shape

(32561, 15)

In [58]:
adult.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [61]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
Class             object
dtype: object

In [62]:
adult.workclass = pd.Categorical(adult.workclass)
adult.education = pd.Categorical(adult.education)
adult['marital-status'] = pd.Categorical(adult['marital-status'])
adult.occupation = pd.Categorical(adult.occupation)
adult.relationship = pd.Categorical(adult.relationship)
adult.race = pd.Categorical(adult.race)
adult.sex = pd.Categorical(adult.sex)
adult['native-country'] = pd.Categorical(adult['native-country'])
adult.Class = pd.Categorical(adult.Class)

In [63]:
adult.dtypes

age                  int64
workclass         category
fnlwgt               int64
education         category
education-num        int64
marital-status    category
occupation        category
relationship      category
race              category
sex               category
capital-gain         int64
capital-loss         int64
hours-per-week       int64
native-country    category
Class             category
dtype: object

In [77]:
#analyzing the dataset
advert_report = sv.analyze(adult)
#display the report
advert_report.show_html('adult.html')

:FEATURES DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

Creating Associations graph... DONE!
Report adult.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [98]:
df1 = sv.compare(adult.loc[adult.Class.eq(' >50K')], adult.loc[adult.Class==' <=50K'])
df1.show_html('Compare.html')

                                   |                         | [  0%]   00:00  -> (? left)


Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)


:age:                              |█▎                   | [  6%]   00:00  -> (00:00 left)


:age:                              |██▋                  | [ 12%]   00:00  -> (00:03 left)


:workclass:                        |██▋                  | [ 12%]   00:00  -> (00:03 left)


:workclass:                        |███▉                 | [ 19%]   00:00  -> (00:03 left)


:fnlwgt:                           |███▉                 | [ 19%]   00:00  -> (00:03 left)


:fnlwgt:                           |█████▎               | [ 25%]   00:01  -> (00:03 left)


:education:                        |█████▎               | [ 25%]   00:01  -> (00:03 left)


:education:                        |██████▌              | [ 31%]   00:01  -> (00:03 left)


:education-num:                    |██████▌              | [ 31%]   00:01  -> (00:03 left)


:education-num:                    |███████▉             | [ 38%]   00:01  -> (00:03 left)


:marital-status:                   |███████▉             | [ 38%]   00:01  -> (00:03 left)


:marital-status:                   |█████████▏           | [ 44%]   00:02  -> (00:02 left)


:occupation:                       |█████████▏           | [ 44%]   00:02  -> (00:02 left)


:occupation:                       |██████████▌          | [ 50%]   00:02  -> (00:02 left)


:relationship:                     |██████████▌          | [ 50%]   00:02  -> (00:02 left)


:relationship:                     |███████████▊         | [ 56%]   00:02  -> (00:01 left)


:race:                             |███████████▊         | [ 56%]   00:02  -> (00:01 left)


:race:                             |█████████████▏       | [ 62%]   00:02  -> (00:01 left)


:sex:                              |█████████████▏       | [ 62%]   00:02  -> (00:01 left)


:sex:                              |██████████████▍      | [ 69%]   00:02  -> (00:01 left)


:capital-loss:                     |███████████████▊     | [ 75%]   34:56  -> (11:38 left)
:capital-loss:                     |██████████████▎    | [ 75%]   2:25:50  -> (48:36 left)
:capital-loss:                     |███████████████▊     | [ 75%]   33:45  -> (11:15 left)



:capital-gain:                     |███████████████▊     | [ 75%]   00:04  -> (00:02 left)


:capital-loss:                     |███████████████▊     | [ 75%]   00:04  -> (00:02 left)


:capital-loss:                     |█████████████████    | [ 81%]   00:04  -> (00:01 left)


:hours-per-week:                   |█████████████████    | [ 81%]   00:04  -> (00:01 left)


:hours-per-week:                   |██████████████████▍  | [ 88%]   00:05  -> (00:00 left)


:native-country:                   |██████████████████▍  | [ 88%]   00:05  -> (00:00 left)


:native-country:                   |███████████████████▋ | [ 94%]   00:05  -> (00:00 left)


:Class:                            |███████████████████▋ | [ 94%]   00:05  -> (00:00 left)


:Class:                            |█████████████████████| [100%]   00:05  -> (00:00 left)


:FEATURES DONE:                    |█████████████████████| [100%]   00:05  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:02  -> (00:00 left)

Creating Associations graph... DONE!
Report Compare.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.